<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/estilos.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <title>Exemplo de projeto Node, Express e EJS.</title>
</head>
<nav>
    <p>Templates JS</p>
    <a href="/meusprojetos"> Meus Projetos </a>
    <a href="/"> Sobre Mim </a>
  </nav>
<body>
